/* HEADER */

.logo-header {
    width: 200px;
}

.sfondo-header {
    padding-top: 30px;
    background-image: url('../img/pattern.png');
    background-color: rgb(70, 136, 216);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 30%;
}

.crediti {
    color: rgb(126, 148, 174);
    font-weight: bold;
    font-size: large;
}

.booleaner {
    color: rgb(0, 191, 255);
}

.crediti-foto {
    font-size: small;
}

/* TABELLA */

table {
    text-align: left;
    border-collapse: collapse
}

.intestazione-blu {
    color: white;
    background-color: rgb(58, 183, 255);
}

.contenuto-azzurro {
    background-color: rgb(171, 226, 248);
}

/* FOOTER */

.approfondimento {
    color: rgb(126, 148, 174);
    font-weight: bold;
    font-size: large;
}

.testo-immagini-1 {
    width: 200px;
    height: 200px;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 10px 0 0 10px;
    background-image: url("../img/monitor.jpg");
    margin-top: 10px;
    background-repeat: no-repeat;
    text-align: center;
}

.testo-immagini-2 {
    width: 200px;
    height: 200px;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 10px 0 0 10px;
    background-image: url("../img/graph.jpg");
    margin-top: 10px;
    background-repeat: no-repeat;
    text-align: center;
}